calc.spec
build/calc/Analysis-00.toc
build/calc/base_library.zip
build/calc/calc.exe
build/calc/calc.exe.manifest
build/calc/COLLECT-00.toc
build/calc/EXE-00.toc
build/calc/PKG-00.pkg
build/calc/PKG-00.toc
build/calc/PYZ-00.pyz
build/calc/PYZ-00.toc
build/calc/Tree-00.toc
build/calc/Tree-01.toc
build/calc/Tree-02.toc
build/calc/warn-calc.txt
build/calc/xref-calc.html
dist/calc/_asyncio.pyd
dist/calc/_bz2.pyd
dist/calc/_ctypes.pyd
dist/calc/_decimal.pyd
dist/calc/_hashlib.pyd
dist/calc/_lzma.pyd
dist/calc/_multiprocessing.pyd
dist/calc/_overlapped.pyd
dist/calc/_queue.pyd
dist/calc/_socket.pyd
dist/calc/_ssl.pyd
dist/calc/base_library.zip
dist/calc/calc.exe
dist/calc/calc.exe.manifest
dist/calc/libcrypto-1_1.dll
dist/calc/libffi-7.dll
dist/calc/libssl-1_1.dll
dist/calc/pyexpat.pyd
dist/calc/python39.dll
dist/calc/select.pyd
dist/calc/unicodedata.pyd
dist/calc/VCRUNTIME140.dll
trainning/__pycache__/calc.cpython-39.pyc
